@using Application.Users
@model AddUserAddressDto
@{
    ViewData["Title"] = "AddNewAddress";
    Layout = "~/Views/Shared/_Layout_CustomerPanel.cshtml";
}


<div class="modal-content">
    <form method="post" asp-action="AddNewAdderss" asp-controller="Address" asp-area="Customers">
        <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">

            <div class="mb-3">
                <label for="State" class="form-label font-light">State</label>
                <input type="text" class="form-control" id="State" placeholder="state" name="State">
            </div>
            <div class="mb-3">
                <label for="City" class="form-label font-light">City</label>
                <input type="text" class="form-control" id="City" placeholder="City" name="City">
            </div>
              <div class="mb-3">
                <label for="ZipCode" class="form-label font-light">ZipCode</label>
                <input type="text" class="form-control" id="ZipCode" placeholder="ZipCode" name="ZipCode">
            </div>

             <div class="mb-3">
                <label for="PostalAddress" class="form-label font-light">PostalAddress</label>
                <input type="text" class="form-control" id="PostalAddress" placeholder="PostalAddress" name="PostalAddress">
            </div>
             <div class="mb-3">
                <label for="ReciverName" class="form-label font-light">ReciverName</label>
                <input type="text" class="form-control" id="ReciverName" placeholder="ReciverName" name="ReciverName">
            </div>
        </div>
        <div class="modal-footer pt-0 text-end d-block">
            <button type="button" class="btn bg-secondary text-white rounded-1 modal-close-button" >Close</button>
            <button type="submit" class="btn btn-solid-default rounded-1" >Save Address</button>
        </div>
    </form>
</div>


