@using Application.BasketsService
@model BasketDto
@{
    Layout = null;
}
<li class="onhover-dropdown cart-dropdown">
    <button type="button" class="btn btn-solid-default btn-spacing">
        <i data-feather="shopping-cart" class="pe-2"></i>
        <span>$@Model.Items.Sum(x=>x.Quantity * x.UnitPrice).ToString("n2")</span>
    </button>
    <div class="onhover-div">
        <div class="cart-menu">
            <div class="cart-title">
                <h6>
                    <i data-feather="shopping-bag"></i>
                    <span class="label label-theme rounded-pill">@Model.Items.Count()</span>
                </h6>
                <span class="d-md-none d-block">
                    <i class="fas fa-arrow-right back-cart"></i>
                </span>
            </div>
            <ul class="custom-scroll">
                @if (Model != null)
                {
                    @foreach (var item in Model.Items)
                    {
                        <li>
                            <div class="media">
                                <img src="@item.ImageUrl"
                             class="img-fluid blur-up lazyload" alt="">
                                <div class="media-body">
                                    <h6>@item.CatalogName</h6>
                                    <div class="qty-with-price">
                                        <span>$@item.UnitPrice.ToString("n2")</span>
                                        <span>
                                            <input type="number" class="form-control"
                                           value="1">
                                        </span>
                                    </div>
                                </div>
                                <button type="button" class="btn-close d-block d-md-none"
                                aria-label="Close">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </li>
                    }
                }

            </ul>
        </div>
        <div class="cart-btn">
            @if (Model != null)
            {
                <h6 class="cart-total">
                    <span class="font-light">Total:</span> $
                    @Model.Total().ToString("n2")
                </h6>
            }
            <button onclick="location.href = 'cart.html';" type="button"
                    class="btn btn-solid-default btn-block">
                Proceed to payment
            </button>
        </div>
    </div>
</li>