html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.title-category-item {
/*    margin-top:15px;
*/    margin-bottom:15px;
}

.remove-basket-item {
    border: none;
    background-color: #fff;
}